:root {
  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: hsl(192, 100%, 67%);

/* Dark Theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-alt: hsl(237, 14%, 26%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 375px;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--dark-grayish-blue);
}

.header-container {
  background-image: url(images/bg-desktop-dark.jpg);
  display: flex;
  flex-direction: column;
}

.background-container {
  background-color: var(--very-dark-blue);
  padding: 2rem 0;
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.heading {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
}

#create-new {
  display: flex;
  justify-content: space-between;
  background-color: var(--very-dark-desaturated-blue);
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  color: var(--dark-grayish-blue)
}

#new-todo-input {
  background-color: var(--very-dark-desaturated-blue);
  border: none;
  color: var(--light-grayish-blue);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border-radius: 5px;
}

#new-todo-submit {
  background-color: var(--light-grayish-blue);
  border: none;
  color: var(--very-dark-desaturated-blue);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}


.list {
  background-color: var(--very-dark-desaturated-blue);
  border-radius: 10px 10px 0px 0px;
  margin: 0 1.5rem;
  border: 1px solid var(--very-dark-grayish-blue-alt);
  padding: 0.2rem 0; /*bad solution to border radius problem, fix later*/
}

.list-item {
  background-color: var(--very-dark-desaturated-blue);
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--very-dark-grayish-blue-alt);
}

.task-and-clear-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-dark-desaturated-blue);
  border-radius: 0px 0px 10px 10px;
  margin: 0 1.5rem;
  border: 1px solid var(--very-dark-grayish-blue-alt);
  padding: 1rem 1rem;
  color: var(--dark-grayish-blue);

}

[type="checkbox"] {
  margin-right: 1rem;
  position: absolute;
  opacity : 0;
}

[type="checkbox"]:checked + label .custom-checkbox {
  background-color: var(--check-background);
  border: 1px solid var(--check-background);
  background-image: url(images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.custom-checkbox {
  display: inline-block;
  border: 1px solid var(--very-dark-grayish-blue-alt);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  vertical-align: middle;
}

.list-item-content {
  color: var(--light-grayish-blue);
  cursor: pointer;
}

.list-item-content:hover {
  color: var(--dark-grayish-blue);
}

.remove-btn {
  background-color: var(--very-dark-desaturated-blue);
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.item-states {
  display: flex;
  justify-content: space-around;
  color: var(--dark-grayish-blue);
  background-color: var(--very-dark-desaturated-blue);
  border-radius: 10px;
  border: 1px solid var(--very-dark-grayish-blue-alt);
  padding: 1rem 1rem;
}

.footer-text {
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
  padding: 1rem 1.5rem;
  text-align: center;
}


